
body {
    background-color:;
    width: 100%;
    margin: auto;
    
}

#container {
    margin: auto;
    width: 80%;
    padding-top: 20px;
}

#top {
    background-color: aliceblue;
    color: red;
    height:80px;
}

#banner, #contents {
    width: 690px;
    margin: auto;
    background-color: aliceblue;
}

#banner {
    position: relative; 
}

#banner header {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 40px 14px 0px 0px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: red;
  }
  
  .active {
    background-color: #4CAF50;
  }

/* nav { 
    border-style: solid; 
    float: right; 
    position: relative;
    bottom: 1px;
    right: 1px;
}
*/

#main {
    border-style: solid;
    border-width: 0px;
    border-top-width: 2px;
    border-color: grey;
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 35px;
}

#contents {
    min-height: 400px;
}


header {
    font-size: 24pt;
    width: 200px;
    padding:20px;
}

article {
    padding: 20px;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: blueviolet;

}

article p {
    line-height: 1.6;
}

article img {
    float: left;
}

img {
    margin: 10px;
}

#footer {
    border-style: solid;
    border-width: 0px;
    border-top-width: 3px;
    border-color: blue;
    text-align: center;
    background-color: dimgrey;
    color: beige;
    height:40px;
    padding: auto auto 0px auto;
}


